PORT=8080
ALLOWED_ORIGIN=*
DITTO_DATABASE_ID=replace-with-your-database-id
DITTO_SERVER_URL=https://replace-with-your-database.cloud.ditto.live
DITTO_PLAYGROUND_TOKEN=replace-with-your-playground-token

